{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100" id="home">

		<div class="container-fluid p-5" id="accueil">
		
			<div class="row">
				<div class="col-lg-8 mx-auto ">
					<p class="textAccueil">
						Bienvenue sur BOOTCAMPSCENTURIO : l'aventure rencontre la discipline, où le dépassemnt de soi devient un mode de vie. Plongez dans un monde où l'esprit militaire s'allie à la camaraderie, pour offrir des expériences inoubliables à tous.

						<br>

						Que vous soyez un particulier en quête d'une aventure excitante, une entreprise cherchant à renforcer la cohésion d'équipe, ou une collectivité à la recherche d'une activité unique pour vos membres, nous avons des bootcamps adaptés à vos besoins.

						<br>

						Nos bootcamps offrent des défis exaltants conçus pour tous les niveaux, transformant chauqe obstacle en opportunité de grandir et de se surpasser. Embarquez pour une aventure stimulante au coeur de la nature, guidés par notre équipe d'experts pour une expérience sûre et mémorable.

						<br>

						<strong>Pourquoi choisir BOOTCAMPSCENTURIO ?</strong>

						<br>

						<strong>. Pour les particuliers</strong>
						: Vivez des aventures uniques et formez des liens forts avec vos amis lors de nos EVG et EVJF.

						<br>

						<strong>. Pour les entreprises</strong>
						: Renforcez l'esprit d'équipe et la cohésion lors de nos team buildings dynamiques.

						<br>

						<strong>. Pour les collectivités</strong>
						: Offrez des expériences passionnantes à vos menbres, des associations sportives aux centes de loisirs.

						<br>


						Rejoignez notre communauté de guerriers modernes, prêts à relever les défis, forger des souvenirs et célébrer les victoires ensemble. Réservez votre expérience BOOTCAMPSCENTURIO dès aujourdhui.

						<br>

						<strong>Prêt à relever le défi et à devenir le "centurio" de votre propre aventure ?</strong>
						Inscrivez-vous maintenant !
					</p>

				</div>

			</div>
		</div>
	</div>
{% endblock %}
