{% extends 'base.html.twig' %}

{% block title %}Réserver un bootcamp{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
	{{ encore_entry_script_tags('calendar') }}

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Réserver un bootcamp</h1>
        <div class="row">
            <div class="col-12 col-md-8 m-auto mb-3" id="calendar"></div>
        </div>
        
        <!-- Modal pour le formulaire de réservation -->
        <div id="bookingModal" class="modal">
            <div class="modal-content w-75">
                <span class="close">&times;</span>
                <div id="bookingFormContainer"></div>
            </div>
        </div>
    </div>
{% endblock %}


