{% extends 'base.html.twig' %}

{% block title %}Réserver un bootcamp{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
	{{ encore_entry_script_tags('calendar') }}

{% endblock %}

{% block body %}
    <div class="container-fluid min-vh-100">
		<div
			class="row p-4">
			<!-- Sidebar -->
			<div class="col-12 col-lg-3 mb-3">
				{% include 'profile/_sidebar.html.twig' %}
			</div>
            <div class="col-12 col-lg-9 m-auto mb-3">
            <h1>Reservez votre Bootcamp</h1>
            <div id="calendar"></div>
            </div>
        </div>
        
        <!-- Modal pour le formulaire de réservation -->
        <div id="bookingModal" class="modal">
            <div class="modal-content w-75">
                <span class="close">&times;</span>
                <div id="bookingFormContainer"></div>
            </div>
        </div>
    </div>
{% endblock %}


