<footer class="container-fluid text-center text-lg-start" id="footer">
	<div class="row py-3">
		<div class=" col-12 col-lg-6 text-white order-2 order-lg-1">
			<p class="mb-1 fw-bold">&copy; COPYRIGHT 2024 BY MOUSSADEV</p>
			<p>
				<a href="mailto:contact@bootcampscenturio.com" class="link-white link-underline link-underline-opacity-0">📨 contact@bootcampscenturio.com</a>
			</p>
		</div>
		<div class="col-12 col-lg-6  order-1 order-lg-2">
			<div class="footerPageLink mb-1">
				<a href="" class="link-white link-underline link-underline-opacity-0">CGV</a>
				<a href="" class="link-white link-underline link-underline-opacity-0">Mentions Légales</a>
				<a href="" class="link-white link-underline link-underline-opacity-0">Politique de Confidentialité</a>
				<a href="" class="link-white link-underline link-underline-opacity-0">Politique des Cookies</a>
				<a href="" class="link-white link-underline link-underline-opacity-0">FAQ</a>
			</div>
			<div class="footerSocialLink">
				<span class="text-white pe-3">🧨 SUIVEZ-NOUS SUR :</span>
				<a href="https://www.facebook.com/votrepage" target="_blank" aria-label="Facebook" class="link-white link-underline link-underline-opacity-0">
					<i class="lni lni-facebook-oval"></i>
				</a>
				<a href="https://www.instagram.com/votrepage" target="_blank" aria-label="Instagram" class="link-white link-underline link-underline-opacity-0">
					<i class="lni lni-instagram-fill"></i>
				</a>
				<a href="https://www.tiktok.com/@votrepage" target="_blank" aria-label="TikTok" class="link-white link-underline link-underline-opacity-0">
					<i class="lni lni-tiktok"></i>
				</a>
			</div>
		</div>
	</div>
</div></footer>

