.card-container {
  background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
  background: url('../img/BackgroundPrincipal.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.perso {
  position: absolute;
  z-index: 6;
  width: 250px;
  top: -10%;
  left: 83%;
}

.card-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}