$theme-colors: (
    "blueboot" : darken(#428bca, 20%),
    "white": #fff,
    "danger": #d9534f,
    "success": #5cb85c,
    "info": #5bc0de,
    "warning": #f0ad4e,
    "light": #f8f9fa,
    
);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
