.card-container {
    background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
    background: url('../../img/BackgroundPrincipal.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.perso {
    position: absolute;
    z-index: 6;
    width: 250px;
    top: -10%;
    left: 83%;
}

.card-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-pagination {
    position: static;
}

// #home {
//     background-color: #fff;
//     animation: changeBackgroundColor ease-in-out 2s forwards ;
//     height: 100vh;
//   }
#home {
  background-color: #fff;
  animation: changeBackgroundColor ease-in-out 2s forwards;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.transition-image {
  transition: opacity 400ms ease-in-out; /* Transition pour un fondu */
  opacity: 1; /* Par défaut visible */
}

.transition-image.hidden {
  opacity: 0; /* Disparition avant le changement */
}

  .textAccueil {
    color: #fff;
    text-align: justify;
    font-family: 'Metropolian', sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0.84px;
  }
  
  #accueil {
    max-width: 800px;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
  }
  
  .img-fluid {
    width: 100%;
  }
  
  h1, h2, h3, .nba-font {
    font-family: 'Nba-kings', sans-serif !important;
  }
  
  #smartHomeView {
    display: none;
  }
  
  #accueilInstructor {
    border-top: 10px ridge darken(#428bca, 20%);
    background: 
      url('../../img/backgroundInst-min.png') no-repeat center bottom fixed, 
      url('../../img/pngegg.png') no-repeat top right;
    background-size: contain, 320px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: justify;
    min-height: 100vh;
  }
  #regle{
    border-bottom: 10px ridge darken(#428bca, 20%);
  }
  #moussa {
    text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
  }
  
  .white-stroke {
    text-shadow: 1px 1px #fff, -1px 1px #fff, -1px -1px #fff, 1px -1px #fff;
    letter-spacing: 1px;
  }
  
  .arrow-container {
    position: absolute;
    top:90%;
    .arrow {
      display: inline-block;
      font-size: 60px;
      font-weight: bold;
      color: #000;
      animation: bounce 2s infinite, changeColor 2s forwards;
    }
  }
  @keyframes bounceLeftRight {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
  }
  @keyframes changeColor {
    to {
      color: #fff; /* Couleur cible */
    }
  }
  @keyframes changeBackgroundColor {
    to {
      background-color: #000;
    }
  }
  .clicMenu{
    position: absolute;
    top: 1%;
    left: 1%;
    animation: bounceLeftRight 2s infinite, changeColor 2s forwards;
  }
  
  #calendarIndex {
    height: 500px;
    overflow-y: scroll;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  #next-section {
    height: 800px;
    background-color: #f0f0f0;
    padding-top: 50px;
  }
  
  .avatar {
    width: 500px;
  }
  
  .product-view {
    padding-bottom: 96px;
  }
  
  @media screen and (max-width: 1439px) {
    #desktopHomeView {
      display: none;
    }
    #smartHomeView {
      display: block;
    }
    .avatar {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 767px) {
    h1, h2 {
      font-size: 1.5rem !important;
    }
    p {
      font-size: 0.9rem !important;
    }
    #home {
      padding-left: 40px;
    

    }
    .clicMenu{
      left: 8%; 
    }
    .welcome {
      text-align: justify !important;
    }
    
  }